h1 {
	font-family: Lobster, Monospace;
	font-size: 32px;
}
.orange-text {
	color: orange;
}
.img-small {
	width: 350px;
	border-radius: 10px;
}
.thin-black-border {
	border-color: black;
	border-width: 5px;
	border-style: solid;
}
